body {
    background-color: slateblue;
}
header {
    background-color: palevioletred;
    height: 7vh;
    color: white;
    text-align: center;
}

main {
    display: flex;
}

.search-menu {
    width: 20vw;
    height: 100vh;
    background-color: palegreen;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.weather-display {
    width: 80vw;
    height: 100vh;
}
.current-container {
    height: 50vh;
    border: 1px solid black;
    width: 100%;

}
.current-card {
    padding: 2%;
}

.current-card h2 {
    font-size: 2rem;
}

.forecast-container {
    height: 50vh;
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.forecast-card-five {
    width: 15vw;
    padding: 1%;
}
.forecast-card-five h2 {
    font-size: 1rem;

}
